name: tcc
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  get_it: ^8.0.3
  fpdart: ^1.1.1
  go_router: ^14.8.1
  google_fonts: 6.0.0
  flutter_svg: ^2.0.17
  intl: ^0.20.2
  event_bus: ^2.0.0
  image_picker: 1.2.0
  cpf_cnpj_validator: ^2.0.0
  shared_preferences: ^2.5.3
  open_filex: ^4.7.0
  path_provider: ^2.1.5
  http: ^1.5.0
  supabase_flutter: ^2.10.3
  flutter_dotenv: ^5.2.1
  mailer: ^6.6.0
  web3dart: ^2.7.3
  url_launcher: ^6.3.1
  reown_appkit: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  assets:
    - tcc_heranca.env
    - assets/
    - assets/backgrounds/background.png
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
